/*tool*/

.no-padding {
    padding: 0px;
}

.icon-right-margin {
    margin-right: 5px;
}


/*end tool*/

.left-side {
    position: absolute;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 200px;
    /* background-color: red; */
}

.left-side .list-group {
    margin-top: 5px;
}

.left-side .list-group .list-group-item {
    border-style: none;
}

.left-side .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.left-side .list-group .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.content {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
    /* background-color: cornflowerblue; */
    /*border-radius: 5px;*/
}

.content .toolbar {
    height: 55px;
    padding: 10px;
}

.content .c-list {
    margin: 20px 0px;
}

.content .c-list li {
    width: 120px;
    height: 120px;
    margin: 5px;
    cursor: pointer;
}

.content .c-list li:hover {
    background-color: aliceblue;
}

.content .c-list li .c-item .c-item-img {
    width: 60px;
    height: 60px;
    position: relative;
    left: 50%;
    margin-left: -30px;
    margin-top: 10px;
}

.content .c-list li .c-item .c-item-title {
    text-align: center;
    font-size: 15px;
    margin: 15px 0px 10px 0px;
}