.layer {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.52);
}

.my-modal {
    position: relative;
    width: 500px;
    margin: 0 auto;
    z-index: 2000;
    background-color: white;
}