<!-- <app-page></app-page> -->


<!-- <app-drag-demo></app-drag-demo> -->

<!-- <gsp-widget-container [widgets]="[]">
    .ngcontent test
</gsp-widget-container> -->


<!-- <gsp-widget *ngFor="let item of [1,2,3,4,5,6]" [col]="2" [row]="2" [title]="'title'">

</gsp-widget> -->

<!-- <gsp-widget [col]="2" [row]="2">
    <img src="http://localhost:9300/img/p5.jpg" alt="" class="aa">
</gsp-widget> -->

<!-- <gsp-widget *ngFor="let item of [1,2,3,4,5,6,7]" [tpl]="content">
    <ng-template #content>
        <div class="w-title">{{item}}title</div>
        <div class="w-content">{{item}}conotent</div>
    </ng-template>
</gsp-widget> -->

<gsp-widget-tpl1></gsp-widget-tpl1>
<gsp-widget-tpl2></gsp-widget-tpl2>
<gsp-widget-tpl3></gsp-widget-tpl3>